<div>
    <label class="switch">
        <input type="checkbox" checked="@(CurrentLanguage == "EN")" @onchange="() => ToggleLanguage.InvokeAsync(null)" />
        <span class="slider round">
            <span class="thumb">
                <span class="en">FR</span>
                <span class="fr">EN</span>
            </span>
        </span>
    </label>
</div>

@code {
    [Parameter] public string CurrentLanguage { get; set; }
    [Parameter] public EventCallback ToggleLanguage { get; set; }
}
